{% load i18n %}
{% load mptt_admin %}
{% load static %}
{% load compress %}

<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "scss/custom-mptt-filter.scss" %}" />
{% endcompress %}
<script>

    !function(){
        if(!window.mptt_filter_tree){
            window.mptt_filter_tree = true;
            
            addEventListener('load',function(){
                $ = django.jQuery;
                
                $('[data-mptttree]').each((i,e) => {
             
                    var containers = [...$(e).find('[data-mpttid]')]
                    var containerindex = containers
                        .reduce((e, f) => (e[f.dataset.mpttid] = f, e), {})

                    // mode item to right position
                    for (var e of [...$(e).find('[data-mpttparentid]')]) {
                        var parent = e.dataset.mpttparentid
                        if (parent && containerindex[parent]) {
                            e.remove()
                            containerindex[parent].appendChild(e)
                        }
                    }
                    for (var e of containers) 
                        if(e.childElementCount == 0)
                            e.parentElement.getElementsByTagName('label')[0].style.visibility = 'hidden'


                })     


                var rawdata =localStorage.getItem('mptt-filter-input')
                try{
                    var data = JSON.parse(rawdata) || {}
                }catch(e){
                    var data = {}
                }

                for(var e of [...$('input[id^=mptt-filter-]')]){
                    e.checked = data[e.id] 
                }
                

                $("input[id^=mptt-filter-]").change(function() {
                    data[this.id] = this.checked
                    localStorage.setItem('mptt-filter-input',JSON.stringify(data))
                });

                var selected = $(".mptt-filter-item > a.selected")[0]

                if(selected){
                    do{
                        var parent = selected.parentElement.parentElement.parentElement
                        selected = parent.children[2];
                        selected && selected.classList.add('boiled');
                        console.log(parent)
                    }while(selected && parent.classList.contains('mptt-filter-item'))
                }


            })

        }
    }()
</script>
<div class='mptt-filter-root' data-mptttree="{{title}}">
    {% for choice in choices %}
        <div class="mptt-filter-item" data-mpttparentid="{{choice.parent_id}}">
            <input type="checkbox" checked id="mptt-filter-{{title}}-{{choice.display.id}}"/>
            <label for="mptt-filter-{{title}}-{{choice.display.id}}"></label>
            <a href="{{ choice.query_string|iriencode }}" {% if choice.selected %} class="selected"{% endif %} >{{choice.display}}</a>
            <div class="mptt-filter-childs" data-mpttid="{{choice.display.id}}"> </div>
        </div>
    
    {% endfor %}
</div>