//colors
$color_desert_storm_approx: #f8f8f8;
$color_alto_approx: #ddd;
$color_wedgewood_approx: #4f88a4;
$white: #fff;
$white_25: rgba(255,255,255,0.25);
$red: #f00;
$color_ming_approx: #3a667b;



.django-ckeditor-widget {
	width: calc(100% - 2px) !important;
}



.product-details {
	tr {
		border: none;
        td {
            padding: 3px 40px 3px 10px;
            border: none;
        }
	}
}


.dynamic-productoption_set {
	background: $color_desert_storm_approx;
	border: 1px solid $color_alto_approx;
	fieldset {
		background: none;
	}
	.form-row {
		border: none;
		> div > label {
			display: none;
			+ div {
				margin-left: 0;
			}
		}
	}
	~ .dynamic-productoption_set {
		background: $color_desert_storm_approx;
		border-top: none;
	}
}

.dynamic-productinfo {
	h3 {
		display: none;
	}
	label {
		display: none;
	}
	.form-row.field-info {
		padding: 0;
	}
}


.admin-tabs {
	display: flex;
	width: 100%;
	background: $color_wedgewood_approx;
	margin-bottom: 1em;
	> a {
		padding: 0.6em 1em;
		text-align: center;
		text-transform: uppercase;
		color: $white;
		font-size: 1.2em;
		border-right: 2px solid $white_25;
		&.tab-active {
			background: $color_ming_approx !important;
		}
        &[data-error]:after {
            content: ' ! ';
            font-weight: bolder;
            color: $red;
        }
	}
	~ fieldset >h2 {
		display: none;
	}
	~ .inline-group fieldset {
		> h2 {
			display: none;
		}
	}
}


#productimage_set-group fieldset .original >p {
	display: none;
}

.dynamic-productimage_set > td.original > p {
	display: none;
}


.inline-group .tabular tr.has_original td {
	padding-top: 0.7em;
}


.form-row.field-specific_detail {
	padding: 2px 8px;
}




.productoption-inline{
	> .djn-items >.djn-item {
		>h3{
			// display: none;
		}
		> .djn-group fieldset{
			table > thead {
				display: none;
			}
			.djn-td{
				select ~ span ~span {
					display: none;
				}
			}
		}
		.select2-container{
			min-width: 12em;
		}
		.vTextField {
			width: 17em;
		}
	}
	>.djn-add-item.add-row{
		display: none;
	}
}
.productoption-inline-container{
	flex-wrap: nowrap;
	display: flex;
	>.prodoption-tabs{
		width : 150px;
		min-width: 150px;
		a{
			display: block;	
			padding: 0.5em;
			cursor: pointer;
		}
		a.tab-active{
			background-color: #4f88a4;
			color: #eee;
		}
		a.tab-new:before{
			content:' ➕ ';
			font-weight: bolder;
			color:#70bf2b;
			-webkit-text-stroke: 1px #70bf2b;
		}
        a[data-error]:after {
            content: ' ! ';
            font-weight: bolder;
            color: $red;
        }
	}
	>.djn-no-drag{
		display: none;
	}
	>.djn-item{
		flex : 1;
		border: 1px solid #eee;
		overflow: hidden;
	}
}

.productoption-inline> .djn-items >.djn-item 
.product-detail .detail-name {
	min-width: 120px;
}

.dynamic-econ-taggedinfo-content_type-object_id {
    h3{
        display: none;
    }
}

#changelist-filter li.selected a {
	// color: #5b80b2;
	font-weight: bold;
}

#changelist-filter{
	>ul, >div {
		border-bottom: 1px solid #eaeaea;
		padding-bottom: 15px;
	}
}

// .select2-container--default .select2-results__option[aria-selected=true]{
// 	display: none;
// }
// .select2-selection--multiple .select2-selection__rendered{
// 	display: none;
// }

.select2-selection--multiple .select2-selection__clear{
	display: none;
}