{% load static %}
{% load compress %}
<html>
    <head>
<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static "bootstrap.css" %}">

        <!-- Optional theme -->
        <link rel="stylesheet" href="{% static "bootstrap-theme.css" %}">
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static "main.scss" %}" />
        {% endcompress %}
        {% comment %}<link rel="stylesheet" href="{% static "main.css" %}">{% endcomment %}

        <!-- Latest compiled and minified JavaScript -->
        <script src="{% static "jquery.js" %}"></script>
        <script src="{% static "bootstrap.js" %}"></script>
    </head>
    <body>
        {% include "header.html" %}
        {% block content %} {% endblock %}
    </body>
</html>