{% load static %}
<html>
    <head>
<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static "bootstrap.css" %}">

        <!-- Optional theme -->
        <link rel="stylesheet" href="{% static "bootstrap-theme.css" %}">

        <!-- Latest compiled and minified JavaScript -->
        <script src="{% static "jquery.js" %}"></script>
        <script src="{% static "bootstrap.js" %}"></script>
    </head>
    <body>

        {% block content %} {% endblock %}
    </body>
</html>