{% if cagetory %}
    <div class="cagetory menu-main">
        <div class="cagetory-title menu-title">
            <a class='product-cagetory' href="{% url 'econ:cagetory' cagetory.id %}">{{cagetory}}</a>
        </div>
        {% if cagetory.get_children.all|length %}
        <div class="cagetory-child menu-container"> 
        {% for cagetory in cagetory.get_children.all %}
            {% include "cagetory_tree.html" %}
        {% endfor %}
        </div>
        {% endif %}   
    </div>
{% endif %}
