tr  > td.original > p {
    display: none;
}


.django-ckeditor-widget {
    width: calc(100% - 2px) !important;
}


.inline-group .tabular tr.has_original td {
    padding-top: 0.7em;
    /* min-width: 100px; */
}
.product-details tr{
    border: none;
}
.product-details td{
    padding: 3px 40px 3px 10px;
    border: none;
}

.form-row.field-specific_detail{
    padding: 2px 8px;
}

.dynamic-productoption_set {
    background: #f8f8f8;
    border: 1px solid #ddd;
}


.dynamic-productoption_set ~ .dynamic-productoption_set {
    background: #f8f8f8;
    border-top: none;
}

.dynamic-productoption_set fieldset {
    background: none;
}

.dynamic-productoption_set .form-row {
    border: none;
}
.dynamic-productoption_set .form-row > div > label{
    display: none;
}

.dynamic-productoption_set .form-row > div > label + div{
    margin-left: 0px;
}

.dynamic-productinfo h3,.dynamic-productinfo label{
    display: none;
}
.dynamic-productinfo .form-row.field-info{
    padding: 0;
}

#productoption_set-group .add-row{
    display: none;
}


.admin-tabs {
    display: flex;
    width: 100%;
    background: #4f88a4;
    margin-bottom: 1em;
}

.admin-tabs > a {
    padding: 0.6em 1em;
    text-align: center;
    text-transform: uppercase;
    color : #fff;
    font-size: 1.2em;
    border-right: 2px solid rgba(255,255,255,0.25);
}


.admin-tabs > a[data-error]:after{
    content: ' ! ';
    font-weight: bolder;
    color: #f00;
}


.admin-tabs ~ .inline-group fieldset > h2 {
    display: none;
}

.admin-tabs ~ .inline-group fieldset > table > thead {
    /* display: none; */
}


.admin-tabs > a.tab-active {
    background: #3a667b !important;
}

/* #product_form > div > *:targer{
    display: block;
} */
/* 

fieldset{
    min-width: unset !important;
} */


/* .select2-container {
    min-width: 5em;
}
 */
