
.mptt-filter-root{
    >input{
        margin: 5px 15px;
        display: block;
        width: -webkit-fill-available;
        font-size: 0.9em;
        padding: 4px 9px;
    }
}

.mptt-filter-item{
    >input{
        display: none !important;
    }
    >label:before{
        font-weight: bold;
        content: '▼';
        margin-left: 10px;
        display: inline-block;
        transform: rotate(-90deg);
        transition: transform 0.2s;
        cursor: pointer;
    }
    >input:checked ~ label:before{
        transform: rotate(0deg);
    }

    >a{
        display: inline !important;
    }
    >div{
        display: none !important;
        padding-left: 15px;
    }
    >input:checked ~ div{
        display: block !important;
    }
    &.leaf > a{
        padding-left: 25px;
    }
    &.boiled > a{
        color : #57a2d1 !important;
        font-weight: bold;
    }
    &.selected > a{
        color : #08d !important;
        font-weight: bold;
    }
}

